{% extends 'master.html' %} {% load static %} {% block start %}
<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.546333499177!2d73.45153817447459!3d32.53826149615134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3921d75481b9b641%3A0xc82d7bf50c7307f7!2sCampus-For-University-Programs%20Superior%20College%20M.B.Din!5e0!3m2!1sen!2s!4v1710844745257!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Map End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Information</span>
                        <h2>Contact Us</h2>
                        <p>Our app offers a variety of glasses. If you want to buy. Please contact us.</p>
                    </div>
                    <ul>
                        <li>
                            <h4>Pakistan</h4>
                            <p>Campus for University Programs  <br/>Superior College MBDIN
                                <p>
                                    <i class="fa fa-phone"></i> 042-111-00-00-78| | 
                                    <i class="fa fa-envelope"></i>info@superiorcolleges.edu.pk
                                </p>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message"></textarea>
                                <a href="mailto:maryamjaveria5@gmail.com" class="btn site-btn" type="submit">Send Message</a>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
{% endblock %}