{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Glamour glasses view</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/indexcategories.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/profile/edit_profile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">

    <style>
        body, html { margin: 0; padding: 0; }
        .header { position: fixed; top: 0; left: 0; width: 100%; z-index: 1000; background-color: #fff; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
        .content { padding-top: 100px; }
        .how-it-works { padding: 40px 0; background-color: black; opacity: 0.9; }
        .section-heading { font-size: 2rem; font-weight: bolder; color: #fff; text-align: center; margin-bottom: 40px; }
        .step { padding: 15px; background: #ffffff; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); margin: 0 auto; max-width: 250px; }
        .step-number { font-size: 3rem; font-weight: bolder; color:black; margin-bottom: 10px; }
        .profile-container { max-width: 600px; margin: 150px auto; padding: 20px; background: #fff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
    </style>
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <br><br><br>
            <div class="offcanvas__links">
                <form method="GET" action="{% url 'search_items' %}" class="mobile-search-form">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control search-input" name="query" placeholder="Search Here">
                        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <a href="/shoppingcart/" class="mobile-cart-icon">
                    <img src="{% static 'img/icon/cart.png' %}" alt="">
                </a>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="{% static 'img/logo2.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Home</a></li>
                            <li class="{% if request.path == '/shop/' %}active{% endif %}"><a href="/shop/">Shop</a></li>
                            <li><a href="/game/">Play Game</a></li>
                            {% if request.session.id %}
                                <li><a href="/logout">Logout</a></li>
                            {% else %}
                                <li><a href="/login">Login</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4">
                    <div class="header__nav__option">
                        <a href="/shoppingcart/"><img src="{% static 'img/icon/cart.png' %}" alt=""></a>
                        {% if request.session.id %}
                            <a href="{% url 'user_profile' %}"><img src="{% static 'img/icon/user.png' %}" alt="" style="width:30px"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>

    {% block start %}{% endblock %}

    <footer class="footer">
        <div class="container text-center">
            <p>Copyright © <script>document.write(new Date().getFullYear());</script> All rights reserved</p>
        </div>
    </footer>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
</body>
</html>