body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin: 20px 0;
}

form {
    margin-bottom: 20px;
}
